/* 
    Document   : style
    Created on : 10 May, 2014, 10:58:10 PM
    Author     : kalpesh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body { 
    padding-top: 70px; 
    background: whitesmoke;
}

#site-header {
    margin-top: 0;
}

#site-header * {
    font-family: 'Bevan', cursive;
}

#site-header h1 {
    font-size: 60px;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.media {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

